name: CI

on: [push]

jobs:
    sast_scan:
        name: Run a Bandit SAST scan
        runs-on: ubuntu-latest  

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.x'
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install bandit
            - name: Run Bandit SAST scan
              run: |
                  bandit -r . -ll -ii -f json -o bandit-report.json
            - name: Upload Bandit report
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: bandit-report
                  path: bandit-report.json
    image_scan:
        name: Build Image And Run Image Scan
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker and Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build Docker image
              run: |
                  docker build -f Dockerfile -t myapp:latest .
            #- name: Build Docker Scout
              #run: |
                  #curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
                  #sh install-scout.sh

                  #echo ${{secrets.REPO_PASSWD}} | docker login -u ${{secrets.REPO_USER}} --password-stdin

                  # docker scout quickview
                  # docker scout cves
            - name: Run Docker Scout Scan
              uses: docker/scout-action@v1.18.2
              with:
                  dockerhub-user: ${{ secrets.REPO_USER }}
                  dockerhub-password: ${{ secrets.REPO_PASSWD }}
                  command: cves, quickview
            - name: Upload Docker Scout report
              uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: docker-scout-report
                  path: scout-report.json


              